.navUl {
  font-family: "Roboto";
  display: flex;
  justify-content: center;
  list-style-type: none;
  background-color: #1976d2;
  color: white;
  width: 100%;
  margin: 0;
  padding: 0;
}

.navUl li {
  padding: 10px 1rem;
  font-size: 0.9rem;
  cursor: pointer;
}

.navUl li:hover {
  background-color: #11528e;
}

.navUl a {
  text-decoration: none;
  color: white;
  font-size: 1.2rem;
}

.menuBtn {
  display: none;
}

#myLinks {
  display: flex;
}

@media screen and (max-width: 500px) {
  .navUl {
    flex-direction: column;
  }

  .menuBtn {
    display: block;
  }

  #myLinks {
    display: none;
  }

}