.showcaseGrid {
  display: grid;
  grid-template-columns: 1fr;
  width: 100%;
  background-position: center;
  background-repeat: center;
  background-size: cover;
}

.showcaseItem {
  font-weight: 100;
  justify-self: center;
  align-self: center;
  overflow: hidden;
  max-width: 600px;
  padding: 1rem;
  color: white;
}

.showcaseItem p {
  line-height: 1.5;
  font-size: 1.5rem;
}

.showcaseItem h1 {
  font-weight: 900;
  text-align: center;
}

@media screen and (max-width: 500px) {
  .showcaseItem p,
  .showcaseItem h1 {
    font-size: 1.3rem;
  }

  .showcaseGrid {
    height: auto;
  }
}

@media screen and (min-width: 500px) {
  .showcaseGrid {
    height: 50vh;
  }
}


@media screen and (min-width: 1200px) {
  .showcaseGrid {
    height: 100vh;
    font-size: 150%;
  }
}